<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gavin Wiggins</title>
    <link href="../feed.json" rel="alternate" type="application/feed+json" title="Gavin Wiggins" />
    <link href="../rss.xml" rel="alternate" type="application/rss+xml" title="Gavin Wiggins" />
    <link href="../styles.css" rel="stylesheet" />

    <link href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/github.min.css"
          rel="stylesheet"
          media="(prefers-color-scheme: light)" />

    <link href="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/styles/github-dark.min.css"
          rel="stylesheet"
          media="(prefers-color-scheme: dark)" />

    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.11.1/highlight.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Gavin Wiggins</h1>
      <nav>
        <ol>
          <li><a href="/">About</a></li>
          <li><a href="../links.html">Links</a></li>
          <li><a href="../notes.html">Notes</a></li>
          <li><a href="../publications.html">Publications</a></li>
          <li><a href="../software.html">Software</a></li>
        </ol>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      Copyright © 2026 Gavin Wiggins. All Rights Reserved.
    </footer>

    <script>
      // Apply syntax highlighting to all pre code elements on the page
      hljs.highlightAll();
    </script>
  </body>
</html>
